<ul id="realtimeProductList">
</ul>

<form id="productForm">
    <input type="text" id="title" placeholder="Título">
    <input type="number" id="price" placeholder="Precio">
    <button type="submit">New product</button>
</form>

<button id="delete-product">Delete product</button>

<script id="realtime-template" type="text/x-handlebars-template">
    <li>{{title}} - {{price}}</li>
</script>